# Minimal dependencies for using the library should also be specified in `install_requires` in
# `setup.py`, so that users can install library with `pip install jasmin_arc`
Jinja2
enum34

# Dependencies needed for developing/testing the library:

# For generating documentation
Sphinx
