# This file includes the dependencies needed for developing/testing the library.
# Minimal dependencies for using the library are specified in `install_requires` in `setup.py`

# For generating documentation
Sphinx
